* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.screenResult {
    font-size: 30px;
    display: flex;
    margin: 10px 10px;
    width: 400px;
    height: 50px;
    background-color: rgb(198, 214, 228);
    border-radius: 10px;
}

.screenResult p {
    margin: auto;
}

.row {
    display: flex;
    margin: 10px;
}

.button button {
    font-size: 25px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 100px;
    background-color: rgb(236, 236, 236);
}

.button button:hover {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 100px;
    background-color: rgb(240, 193, 106);
}

#equal,
#cancel,
#zero {
    font-size: 25px;
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 100px;
    background-color: rgb(236, 236, 236);
}

#cancel:hover,
#zero:hover {
    font-size: 25px;
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 100px;
    background-color: rgb(240, 193, 106);
}

#equal:hover {
    font-size: 25px;
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 100px;
    background-color: rgb(139, 206, 142);
}


@media screen and (max-width: 450px) {
    .all {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .screenResult {
        font-size: 30px;
        display: flex;
        margin: 10px 10px;
        width: 350px;
        height: 50px;
        background-color: rgb(198, 214, 228);
        border-radius: 10px;
    }

    .button button {
        font-size: 25px;
        width: 80px;
        height: 80px;
        border: none;
        border-radius: 100px;
        background-color: rgb(236, 236, 236);
    }

    .button button:hover {
        font-size: 25px;
        width: 80px;
        height: 80px;
        border: none;
        border-radius: 100px;
        background-color: rgb(240, 193, 106);
    }

    #equal,
    #cancel,
    #zero {
        font-size: 25px;
        width: 160px;
        height: 80px;
        border: none;
        border-radius: 100px;
        background-color: rgb(236, 236, 236);
    }

    #cancel:hover,
    #zero:hover {
        font-size: 25px;
        width: 160px;
        height: 80px;
        border: none;
        border-radius: 100px;
        background-color: rgb(240, 193, 106);
    }

    #equal:hover {
        font-size: 25px;
        width: 160px;
        height: 80px;
        border: none;
        border-radius: 100px;
        background-color: rgb(139, 206, 142);
    }


    @media screen and (max-width: 350px) {
        .all {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }

        .screenResult {
            font-size: 20px;
            display: flex;
            margin: 10px 10px;
            width: 300px;
            height: 50px;
            background-color: rgb(198, 214, 228);
            border-radius: 10px;
        }

        .button button {
            font-size: 20px;
            width: 60px;
            height: 60px;
            border: none;
            border-radius: 100px;
            background-color: rgb(236, 236, 236);
        }

        .button button:hover {
            font-size: 20px;
            width: 60px;
            height: 60px;
            border: none;
            border-radius: 100px;
            background-color: rgb(240, 193, 106);
        }

        #equal,
        #cancel,
        #zero {
            font-size: 20px;
            width: 120px;
            height: 60px;
            border: none;
            border-radius: 100px;
            background-color: rgb(236, 236, 236);
        }

        #cancel:hover,
        #zero:hover {
            font-size: 20px;
            width: 120px;
            height: 60px;
            border: none;
            border-radius: 100px;
            background-color: rgb(240, 193, 106);
        }

        #equal:hover {
            font-size: 20px;
            width: 120px;
            height: 60px;
            border: none;
            border-radius: 100px;
            background-color: rgb(139, 206, 142);
        }
    }